@page
@model Semesterprojekt.Pages.Workshops.DeleteWorkshopModel
@{
}
<h1> Slet bekræftelse </h1>
<div class="alert alert-danger">
    <h5>Er du sikker på at du vil slette denne workshop - @Model.Workshop.Navn</h5>
    <form method="post"> @* En formular bruges til at indsamle brugerinput og sende det til serveren *@ @* og post betyder at daten skal sendes som en HTTPPOST anmodning som er data der skal behandles i serven *@
        <button type="submit" class="btn btn-danger">Ja</button> @* efter at have klikket ja vil slette funtionen gåigang og workshoppen vil blive slettet *@ @* class="btn btn-danger" tilføjer stylingklasser fra Bootstrap og gør at den er rød for at indikere denger *@
        <a class="btn btn-primary"asp-page="/Workshops/Kalender">Nej</a> @* hvis man klikker nej vil man blive sendt tilbage til kalender *@ @* btn btn-primary er også bare en tryle form fra bootstrap *@
    </form>
</div>