@page
@model Semesterprojekt.Pages.BryllupModel
@{
    ViewData["Title"] = "Bryllup";
}

<head>
    <style>
        body{
            align-content: center;
        }

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            }

        .row {
            display: flex;
            }

        .column {
            flex: 20%;
            padding: 5px;
            }


        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }


        .spacing {
            height: 0;
        }

        .image-block {
            width: 100%;
            height: 300px;
        }

        .img-box {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>



<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Bryllup">Bryllup</a>
    <a href="#">Familie</a>
    <a href="#">Koncerter</a>
    <a href="#">Mode</a>
    <a href="#">Mad</a>
    <a href="#">Portræt</a>
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>


<body>
    <div class="img-box">
        <div class="spacing"></div>
        <div class="image-block" style="background:url(../roses-1420719_1280.jpg) no-repeat center center fixed; opacity: 0.7;"></div>
        <div class="centered"><h1 style="text-align: center;">@ViewData["Title"]</h1></div>
    </div>

    <hr />
        <p style="text-align: center;">
            Det ville være kedeligt, hvis nogle af livets vigtigste øjeblikke kun fik lov at vare det ene øjeblik. <br />
            De skal foreviges på smukkeste vis.
        </p>
    <hr />

        <div id="img">
            <div class="row">
                <div class="column">
                <img src="../Images/Bryllup-Images/bride-1255520_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/sunset-698501_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/wedding-dress-1485984_1280.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                <img src="../Images/Bryllup-Images/wedding-1850074_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/wedding-dress-1486260_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/love-6600903_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/wedding-1867547_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/wedding-dresses-1486256_1280.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                <img src="../Images/Bryllup-Images/couple-1850073_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/portrait-4615580_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Bryllup-Images/woman-4081760_1280.jpg" />
                </div>
            </div>
        </div>

</body>
