@page
@model Semesterprojekt.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<h1>@ViewData["Title"]</h1>

<p>Her kan fotografens kontakt oplysninger ses.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.348062451518!2d12.075623975624708!3d55.63075880138616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fdd57cbf297%3A0xd464f030d9a81f8!2sZealand%20-%20Sj%C3%A6llands%20Erhvervsakademi!5e0!3m2!1sda!2sdk!4v1701098781083!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>