@page
@model Semesterprojekt.Pages.ContactModel
@{ 
    
    ViewData["Title"] = "Kontakt mig";
}


<head>
    
    <style>
        .Alle
        {
         position: relative;   
        }
        .Kontakt {
            position: absolute;
            top: 200px;
            left: 600px;
            
        }
        
        .pKontakt {
          
            font-size: 18px;
            text-align: center;
        }

        
        .text-box {
            width: 390px;
            resize: none;
            overflow: auto;
        }
        
   
    </style>
 
</head>
<body>
   

    <h1> <center> @ViewData["Title"]</center></h1>
   <hr />
    
   <div class="Alle"
    <div class="form">
        <form method="post">
            
            <div class="form-group">

                <label asp-for="Ordre.DateTime">Dato:</label> <br />
                <input asp-for="Ordre.DateTime" class="text-box"> <br />
                <span asp-validation-for="Ordre.DateTime" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Ordre.Kunde.Navn">Navn:</label> <br />
                <input asp-for="Ordre.Kunde.Navn" class="text-box"> <br />
                <span asp-validation-for="Ordre.Kunde.Navn" class="text-danger"></span>
             
            </div>
            <div class="form-group">

                <label asp-for="Ordre.Kunde.Email">Email:</label> <br />
                <input asp-for="Ordre.Kunde.Email" class="text-box"> <br />
                <span asp-validation-for="Ordre.Kunde.Email" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                
                    <label asp-for="Ordre.Kunde.Adresse"> Adresse</label> <br />
                    <input asp-for="Ordre.Kunde.Adresse" class="text-box" /> <br />
                    <span asp-validation-for="Ordre.Kunde.Adresse" class="text-danger"></span>
              
            </div>

            <div class="form-group">

                <label asp-for="Ordre.Kunde.Telefonnummer">Telefonnummer:</label> <br />
                <input asp-for="Ordre.Kunde.Telefonnummer" class="text-box" /> <br />
                <span asp-validation-for="Ordre.Kunde.Telefonnummer" class="text-danger"></span>
             
            </div>
            <div class="form-group">

                <label asp-for="Ordre.Kunde.Alder">Alder:</label> <br />
                <input asp-for="Ordre.Kunde.Alder" class="text-box" /> <br />
                <span asp-validation-for="Ordre.Kunde.Alder" class="text-danger"></span>
            </div>     

            <div class="form-group">

            <label asp-for="Ordre.Billeder.Pris"> Pakke: </label> <br />
            <select asp-for="Ordre.Billeder.Pris" class="text-box">
                        <option value="4000">Erhverv - Pakke 1</option>
                        <option value="6000">Erhverv - Pakke 2</option>
                        <option value="2500" selected="selected">Portræt - Pakke 1</option>
                        <option value="5000">Portræt - Pakke 2</option>
                        <option value="7500">Event - Pakke 1</option>
                        <option value="20000">Event - Pakke 2</option> 
            </select>

            </div>


            <div class="form-group">
               
                    <input type="radio" id="Erhverv" name="Erhverv_Eller_Privat" value="Erhverv">
                    <label asp-for="Ordre.Kunde.Erhverv">Erhverv</label> <br />
                    <input type="radio" id="Privat" name="Erhverv_Eller_Privat" value="Privat">
                    <label asp-for="Ordre.Kunde.Privat">Privat</label><br>
                        
                </div>
            <div class="form-group">
                <label asp-for="Ordre.Beskrivelse"> Hvad du henvender dig med:</label> <br />
                <textarea asp-for="Ordre.Beskrivelse"id="Beskrivelse" rows="4" cols="50"> </textarea> <br />
                <span asp-validation-for="Ordre.Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="Send"  onclick="alert('Tak for din interesse.')" value="Send" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
   
    <div class="Kontakt">
<div class="Map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.3724687226036!2d11.768782!3d55.229217399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be88d0e7faf3%3A0xc06bc6d747cff2a4!2sFarimagsvej%2045%2C%204700%20N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1701346550916!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="pKontakt">
<p> Kontakt oplysninger: </p>
<p>
    Adresse: Farimagsvej 45, 4700 Næstved <br />
    Telefon : 23 88 84 56 <br />
    Email : privat@juliespuhr.dk
    
</p>
</div>
</div>
</div>
</body>