@page
@model Semesterprojekt.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<h1>@ViewData["Title"]</h1>

<p>Her kan fotografens kontakt oplysninger ses.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1118.3480192189497!2d11.767633809319705!3d55.22918625973706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be88d0e7faf3%3A0xc06bc6d747cff2a4!2sFarimagsvej%2045%2C%204700%20N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1701172166681!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>