@page
@model Semesterprojekt.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt mig";
}


<head>
    
    <style>
        
        .Kontakt {
            position: absolute;
            top: 200px;
            left: 800px;
        }
        
        .pKontakt {
          
            font-size: 18px;
            text-align: center;
        }

        
        .text-box {
            width: 390px;
            resize: none;
            overflow: auto;
        }

   
    </style>
</head>
<body>
    
    <h1> <center> @ViewData["Title"]</center></h1>
   <hr />
    
    <div class="form">
        <form method="post">
            <div class="form-group">
                
                    <label for="Navn">Navn:</label> <br />
                    <input type="text" class="text-box" id="Navn" name="Navn">
             
            </div>
            <div class="form-group">
                
                    <label for="Email">Email:</label> <br />
                <input type="text" class="text-box" id="Email" name="Email">
                
            </div>
            <div class="form-group">
                <div class="text-box">
                    <label for="Adresse"> Adresse</label> <br />
                    <input type="text" class="text-box" id="Adresse" name="Adresse" />
                </div>
            </div>

            <div class="form-group">
            
                    <label for="Telefonnummer">Telefonnummer:</label> <br />
                    <input for="text" class="text-box" id="Telefonnummer" name="Telefonnummer" />
             
            </div>
            <div class="form-group">
                
                    <label for="Alder">Alder:</label> <br />
                    <input for="text" class="text-box" id="Alder" name="Alder" />
          
            </div>

            <div class="form-group">
                <input type="radio" id="Erhverv" name="Erhverv_Eller_Privat" value="Erhverv">
                <label for="Erhverv">Erhverv</label> <br />
                <input type="radio" id="Privat" class="Privat" name="Erhverv_Eller_Privat" value="Privat">
                <label for="Privat">Privat</label><br>
            </div>
            <div class="form-group">
                <label for="Ønske"> Hvad du henvender dig med:</label> <br />
                <textarea id="Ønske" name="Ønske" rows="4" cols="50"> </textarea>
           
            </div>
            <div class="form-group">
                <input type="submit" onclick="alert('Tak for din interesse.')" id="Send" value="Send" class="btn btn-primary" />
            </div>
            
        </form>
</div>
   

    <div class="Kontakt">
<div class="Map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.3724687226036!2d11.768782!3d55.229217399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be88d0e7faf3%3A0xc06bc6d747cff2a4!2sFarimagsvej%2045%2C%204700%20N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1701346550916!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="pKontakt">
<p> Kontakt oplysninger: </p>
<p>
    Adresse: Farimagsvej 45, 4700 Næstved <br />
    Telefon : 23 888 45 <br />
    Email : privat@juliespuhr.dk
    
</p>
</div>
</div>
</body>