@page
@model Semesterprojekt.Pages.MadModel
@{
    ViewData["Title"] = "Mad";
}

<head>
    <style>
        body {
            align-content: center;
        }

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 20%;
            padding: 5px;
        }


        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }


        .spacing {
            height: 0;
        }

        .image-block {
            width: 100%;
            height: 300px;
        }

        .img-box {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>



<div id="mySidenav" class="sidenav"> @*Laver et kryds i topen der lukker sidebaren, og viser de 6 forskellige sider de kan komme ind på*@
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Bryllup">Bryllup</a>
    <a href="/Familie">Familie</a>
    <a href="/Koncerter">Koncerter</a>
    <a href="/Mode">Mode</a>
    <a href="/Mad">Mad</a>
    <a href="/Portræt">Portræt</a>
</div>

<div id="main"> @*Gør så musen ændre sig når musen er over teksten åben som åbner sidebaren*@
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

<script> @*Åbner og lukker sidebaren, og bestemer hvor langt den går ud*@
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>


<body>
    <div class="img-box">
        <div class="spacing"></div> @*Baggrunds foto, der er stationær (det bevæger sig ikke, når man ruler ned på siden) og der er i midten*@
        <div class="image-block" style="background:url(../Images/Mad-Images/macarons-2548827_1280.jpg) no-repeat center center fixed; opacity: 0.7;"></div>
        <div class="centered"><h1 style="text-align: center;">@ViewData["Title"]</h1></div> @*Tekst i midten af fotoet*@
    </div>

    <hr />
    <p style="text-align: center;">
        Billeder lavet med både sjæl og med den fornødne respekt for de 
        lækre råvarer kokken benytter til tilberedingen af maden.
    </p>
    <hr />

    <div id="img"> @*3 rækker med kolonner i række 1 og 3 er der 3 kolonner, og i række 2 er der 5 kolonner*@
        <div class="row">
            <div class="column">
                <img src="../Images/Mad-Images/cake-1971552_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/food-3288359_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/churros-2188871_1280.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="../Images/Mad-Images/muesli-486832_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/ramen-7238665_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/macarons-5690175_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/dumplings-4706924_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/tacos-al-pastor-4351813_1280.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="../Images/Mad-Images/food-preparation-6555629_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/cupcakes-3261295_1280.jpg" />
            </div>
            <div class="column">
                <img src="../Images/Mad-Images/restaurant-4055826_1280.jpg" />
            </div>
        </div>
    </div>

</body>
