@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<head>
    <style>
        body{
            align-content: center;
        }

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            }

        .row {
            display: flex;
            }

        .column {
            flex: 20%;
            padding: 5px;
            }


        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }


    </style>
</head>



<div id="mySidenav" class="sidenav"> @*Laver et kryds i topen der lukker sidebaren, og viser de 6 forskellige sider de kan komme ind på*@
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Bryllup">Bryllup</a>
    <a href="/Familie">Familie</a>
    <a href="/Koncerter">Koncerter</a>
    <a href="/Mode">Mode</a>
    <a href="/Mad">Mad</a>
    <a href="/Portræt">Portræt</a>
</div>

<div id="main"> @*Gør så musen ændre sig når musen er over teksten åben som åbner sidebaren*@
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

<script> @*Åbner og lukker sidebaren, og bestemer hvor langt den går ud*@
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>


<body>

   <div class="centered"><h1 style="text-align: center;">@ViewData["Title"]</h1></div> @*Teskt i midten*@


    <div id="img">  @*En række med 3 kolonner, fotos i kolonne 1 og 3, og foto med teskt under i kolonne 2*@
            <div class="row">
                <div class="column">
                <img src="../Images/Portfolio-Images/kite-1666816_1280.jpg" />
                </div>
                <div class="column">
                <img src="../Images/Portfolio-Images/bride-2566244_1280.jpg" style="box-sizing: border-box; width: 400px; height: 250px;" />
                    <hr />  @*Laver en linje*@
                        <p style="text-align: center;"> @*Tekst i midten af siden*@
                        Livet går så hurtigt! Bevar de gode stunder og vigtige minder forevigt på smukkeste vis. <br /> <br />

                        Jeg nyder at skabe et kunstværk ud af disse øjeblikke, ligegyldigt om det er et bryllup, en koncert eller blot et herligt smil. Jeg nyder at fange de skæve vinkler og skabe noget særpræget og originalt, som ikke kan spottes med det blotte øje. Jeg nyder at sætte mit eget præg på det som jeg ser gennem kameraet.
                        </p>
                    <hr />  @*Laver en linje*@
                </div>
                <div class="column">
                <img src="../Images/Portfolio-Images/action-2178885_1280.jpg" /> 
                </div>
            </div>
            </div>
          
</body>
