@page
@model Semesterprojekt.Pages.PortrætModel
@{
  ViewData["Title"] = "Portræt";
    }

<head>
    <style>
        .box {
            text-align: center;
            float: left;
            width: 350px;
            margin-left: 135px;
            margin-top: 10px;
            padding: 5px;
            border: 2px solid black;
            background-color: lightgray;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        .spacing {
            height: 0;
        }

        .image-block {
            width: 100%;
            height: 300px;
        }

        .img-box {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Erhverv">Erhverv</a>
    <a href="/Portræt1">Portræt</a>
    <a href="/Event">Event</a>
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

</script>


<a href="c:\users\lindb\documents\github\semesterprojekt\semesterprojekt\pages\portræt.cshtml"></a>
<a href="c:\users\lindb\documents\github\semesterprojekt\semesterprojekt\pages\portræt.cshtml.cs"></a>


<body>

    <div class="img-box">
        <div class="spacing"></div>
        <div class="image-block" style="background:url(../Images/Service-Images/Portræt.jpg) no-repeat center center fixed; opacity: 0.7;"></div>
        <div class="centered"><h1 style="text-align: center;">@ViewData["Title"]</h1></div>
    </div>

    <hr />
    <p>
        <center>
            Jeg tilbyder skræddersyede portrætfotos til det behov du ønsker. Om det er til linkedIn, sociale medier eller til at have stående på reolen hjemme i stuen. Nedenunder kan du se, hvilke pakker jeg tilbyder:
        </center>
    </p>
    <hr />

    <h3><center>Priser</center></h3>
    <br />

    <div class="box">

        <h5>Portræt - pakke nr. 1</h5>
        <h6><i>Værdi: 2500kr</i></h6>
        <br />
        <p><u>Pakkens indhold:</u></p>
        <ul>
            <li>20 portrætter 1-3 personer</li>
        </ul>

        <p>Max 45 minutters fotografering</p>



    </div>

    <div class="box">

        <h5>Portræt - pakke nr. 2</h5>
        <h6><i>Værdi: 5000kr</i></h6>
        <br />
        <p><u>Pakkens indhold:</u></p>
        <ul>
            <li>50 portrætter 4-10 personer</li></li>
        </ul>

        <p>Max 60 minutters fotografering</p>

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <center><p>Hvis andet tilbud end de 2 ovenstående ønskes. Så kontakt mig endelig, så skræddersyer vi sammen et tilbud der matcher jeres behov.</p></center>
</body>