@page
@model Semesterprojekt.Pages.ServiceModel
@{
    ViewData["Title"] = "Service";
    }

    <head>
        <style>
            /* tekst i body */
        body {
            font-family: "Lato", sans-serif;
        }

        /* Sidebarens style */
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        /* Teksten i knapperne i sidenaven */
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
           /*  Når man holder musen henover knapperne, skrifter teksten til hvid */
                .sidenav a:hover {
                    color: #f1f1f1;
                }

               /*  Krydset til at lukke sidenaven */
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /*     Slide-effekten når man åbner sidebaren, der tager 0.5 sekunder (hænger sammen med javasrcipt) */
        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

       /*  Style til billedet */
        .spacing {
            height: 0;
        }

       /*  Style til billedet */
        .image-block {
            width: 100%;
            height: 300px;
        }

        /* Style til billedet*/
        .img-box {
            position: relative;
            text-align: center;
            color: white;
        }

       /*  Teksten i billedet */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        </style>
    </head>

@*  <div> betyder sektion.
    id="mySidenav" giver et id til <div> (bliver kun brugt en gang) som kan blive brugt til CSS
    class="sidenav" giver en klasse til <div> som kan bruges til css de steder, der har det samme klasse navn. *@
<div id="mySidenav" class="sidenav">
    @* <a href="javascript:void(0)" laver et hyperlink, som ikke navigerer til en anden side, men gør noget, når man klikker på knappen.
       onclick="closeNav()">&times; = laver et kryds i sidenaven, som man kan trykke på for at komme ud af den igen *@
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @* hyperlinks, der fører os ind på en anden del af hjemmesiden. *@
    <a href="/Erhverv">Erhverv</a>
    <a href="/Portræt1">Portræt</a>
    <a href="/Event">Event</a>
</div>

    @* "Åbn" knappen *@
<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

@* Javascript:
Når openNav() er kaldt ved at klikke på "Åbn", åbner den sidenaven.
Når closeNav() er kaldt ved at klikke på krydset, tager den os tilbage til startpositionen på siden. *@
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

    <body>

    <div class="img-box">
        @*Baggrunds foto, der er stationær (det bevæger sig ikke, når man ruler ned på siden) og der er i midten*@
        <div class="spacing"></div>
        <div class="image-block" style="background:url(../Images/Service-Images/Roskilde.jpg) no-repeat center center fixed; opacity: 0.7;"></div>
        @*Tekst i midten af fotoet*@
        <div class="centered"><h1 style="text-align: center;">@ViewData["Title"]</h1></div>
    </div>

    @* "hr" betyder horizontal line *@
<hr />
    @* Paragraph text, som er centreret *@
<p>
    <center>
            Mine leverancer er altid af højeste kvalitet, og mit mål er at både du som kunde og jeg selv som fotograf, er tilfredse med resultatet før ordren afsluttes.
            Kontakt mig endelig, så vi kan finde ud af hvilken pakke, der passer bedst til din fotografering.
    </center>
</p>

    <hr />
    @* Headline 6, så teksten fanger læserens øjne *@
    <h6>
        <center>
            Klik "Åbn" øverst til venstre, for at se pakkerne.
        </center>
    </h6>
<hr />

</body>