@page
@model Semesterprojekt.Pages.ServiceModel
@{
    ViewData["Title"] = "Erhverv";
    }

    <head>
        <style>
        .box {
            text-align: center;
            float: left;
            width: 200px;
            margin-left: 235px;
            margin-top: 10px;
            padding: 5px;
            border: 2px solid black;
        }
        </style>
    </head>


<h1><center>@ViewData["Title"]</center></h1>

<hr />
<p>
    <center>
        Jeg hjælper jer med at fremstå tydelige og profesionelle i jeres branche.
        Sammen hjælper vi jeres kunder med at få en tydelig afklaring på deres fremtidige køb og eller kontakt.
    </center>
</p>
<hr />

<h3><center>Priser</center></h3>
<br />

<div class="box">
    
    <h5>Pakke nr. 1</h5>
    <h6>4000kr</h6>

</div>

<div class="box">
    
    <h5>Pakke nr. 2</h5>
    <h6>6000kr</h6>
    
</div>

<br />