<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Semesterprojekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Semesterprojekt.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3"> 
            <div class="container">
                <a class="navbar-brand" style="width: 150px; height: 90px; margin-left: -40px; margin-top: -20px; margin-bottom: -10px;" asp-area="" asp-page="/Index"><img src="../Images/Footer-Images/uden-splash-hvid.png" style="height: 100%; width: auto;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Forside</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Portfolio">Portfolio</a>
                       <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Service">Service</a>
                       <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Order">Ordrer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Kalender">Kalender</a>
                        </li>
                            <a class="nav-link" asp-area="" asp-page="/Kunder">Kunder</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item" style="margin-right: -40px;">
                            <a class="nav-link" asp-area="" asp-page="/LogInd">Log Ind</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <footer class="border-top footer text-muted bg-black" style="height: 160px;">
        <div>
            <img align="left" src="../Images/Footer-Images/Screenshot 2023-12-01 11222.png" style="height: 25%; width: 25%;" />
            <a href="https://www.facebook.com/juliespuhrfoto">
                <img class="footerImage" align="right" src="../Images/Footer-Images/facebook-logo-2019.png" style="background-color: black; height: 5%; width: 5%; margin-right: 20px; margin-top: 43px;" />
            </a>
            <a href="https://www.instagram.com/juliespuhrfoto/">
                <img class="footerImage" align="right" src="../Images/Footer-Images/580b57fcd9996e24bc43c521.png" style="background-color: black; height: 5%; width: 5%; margin-top: 43px; margin-right: 15px;" />
            </a>
            <a href="https://dk.linkedin.com/in/juliespuhr">
                <img class="footerImage" align="right" src="../Images/Footer-Images/Illustration-of-Linkedin-icon-on-transparent-background-PNG.png" style="background-color: black; height: 5%; width: 5%; margin-top: 43px; margin-right: 15px;" />
            </a>
            <a href="https://juliespuhr.dk/">
                <img align="right" src="../Images/Footer-Images/uden-splash-hvid.png" style="background-color: black; height: 15%; width: 15%; margin-right: 310px; margin-top: 20px;" />
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>